#navItems {
  position: fixed;
  top: 0;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
}

#navSpan {
  font-family: 'Bungee', cursive;
}

#dropDown {
  display: flex;
  justify-content: center;
  color: red;
}


