.tweets {
  position:relative;
  top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border: solid black;
  margin: 20px;
  padding: 20px;
}

.tweets:hover {
  box-shadow: 5px 10px;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.tweet-body {
  display: flex;
  width: 90%;
  border-bottom: 5px solid black;
}

footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.avName {
  display: flex;
  flex-direction: row;
}

.avName > img {
  width: 64px;
  height: 64px;
  margin: 10px;
;}

.footer > div > i {
  margin: 5px;
}

i:hover {
  color: rgb(184, 184, 95);
}